#banner
{
    text-align: center;
    margin-bottom: 10px;
}

#quizWindow
{
    width: 400px;
	height: 300px;
	position: fixed;
	left: 5px;
	top: 5px;
	background-color: white;
	opacity: .6;
	box-shadow: 20px 20px 10px #444;
}

#cladCanvas
{
	float: left;
}
#canvasBkgd
{
	background-image: url('imgs/leather.jpg');
	box-shadow: 15px 15px 10px #333;
}

.cvs
{
    width: 1200px;
	height: 800px;
	margin: auto;
}

#cladMap
{
    width: 400px;
    height: 300px;
    position: fixed;
    left: 5px;
    top: 320px;
}

#infoWindow
{
    width: 1400px;
	height: 300px;
	margin: auto;
	margin-top: 20px;
	border: 76px solid transparent;
	border-image: url('imgs/gems16.png') 80 80 repeat round;
}
